body{
    background:rgb(18.25% 0% 7.95%);
    display: grid;
}
nav{
    background-color:antiquewhite;
}
h1,h2{
    color:bisque;
    
}
h1{
  /*display: flex;  */
  text-align: center;
  
}
a{
    color:black;
    /*padding-left: 10px;*/
    margin-right: 300px;
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row-reverse;*/
    float:left;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  
}
        
a:hover{
   color:antiquewhite;
    background-color:rgb(18.25% 0% 7.95%) ;
    border-radius: 20px;
   
}

.allcontent{
text-align: center;
}
#brandingimage{
    height:500px;
    width: 100%;
    border-radius: 15px; 
    
}

li,p{
    color: antiquewhite;
    list-style-type:none;
}

.logo{
    display: flex;
    margin-right: 200px;
    padding-left: 2vh;
    padding-top: 3vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    font-weight: bold;
   
}
#aboutme{
      font-size: 3vh; 
}
span{
    color: #e08977;
}
.myproject{
    display: flex;
    float: left;
    
}
h3{
    /*color:antiquewhite;*/
    color: #e08977;
}
/*.projectimages{
    display:flex;
    padding-left:20px;
}*/
      

.contactme{
     background: antiquewhite;
     color: black;
}
.contactdetails{
    border-radius: 15%;
}
input{
    background: antiquewhite;
    border-radius: 5px;
    padding:5px;
}
#btn{
    border-radius: 5px;
    background: rgb(18.25% 0% 7.95%);
    color:antiquewhite;
    margin-top: 10px;
    padding: 4px;
    font-weight: bold;
}
.lbl{
    color:black;
    font-weight: bold;
}